pipeline/10_LogPipeLineExecutionsThruDataFlowTasks.json
{
	"name": "10_LogPipeLineExecutionsThruDataFlowTasks",
	"properties": {
		"activities": [
			{
				"name": "WaitFor2Seconds",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 2
				}
			},
			{
				"name": "CheckIfLogFileExists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set LogFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_LogFileDetails",
						"type": "DatasetReference",
						"parameters": {
							"parFileName": {
								"value": "@variables('varLogFileName')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set LogFileName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "WaitFor2Seconds",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varLogFileName",
					"value": {
						"value": "@concat(formatDateTime(utcnow(),'yyyy-MM-dd'),'_log.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IfLogFileExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckIfLogFileExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('CheckIfLogFileExists').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Data flow When LogFileDoes Not  Exists",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "10_DF_LogFile_Create",
									"type": "DataFlowReference",
									"parameters": {
										"ADFName": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipeLineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"Status": {
											"value": "'@{'Success'}'",
											"type": "Expression"
										},
										"RunId": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"ExecutedOn": {
											"value": "'@{pipeline().TriggerTime}'",
											"type": "Expression"
										},
										"FileName": {
											"value": "'@{variables('varLogFileName')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "10_DF_LogFile_Append",
									"type": "DataFlowReference",
									"parameters": {
										"ADFName": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"PipeLineName": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"Status": {
											"value": "'@{'Success'}'",
											"type": "Expression"
										},
										"RunId": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"TriggerName": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"ExecutedOn": {
											"value": "'@{pipeline().TriggerTime}'",
											"type": "Expression"
										},
										"FileName": {
											"value": "'@{variables('varLogFileName')}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"varLogFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF Practice"
		},
		"annotations": []
	}
}