pipeline/13_AdditionalColumnsinCopyActivity.json
{
	"name": "13_AdditionalColumnsinCopyActivity",
	"properties": {
		"activities": [
			{
				"name": "Copy Employee",
				"description": "Copy Employee.TXT with Additional Columns",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "PipeLineNAme",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "TriggeredTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							},
							{
								"name": "CurrentTime",
								"value": {
									"value": "@variables('varUTCNOW')",
									"type": "Expression"
								}
							},
							{
								"name": "Country1",
								"value": "$$COLUMN:COUNTRY"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "EMPID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EMPID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EMPNAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EMPNAME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AGE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AGE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "COUNTRY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "COUNTRY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SALARY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SALARY",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SourceFileName",
									"type": "String"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PipeLineNAme",
									"type": "String"
								},
								"sink": {
									"name": "PipeLineNAme",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TriggeredTime",
									"type": "String"
								},
								"sink": {
									"name": "TriggeredTime",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CurrentTime",
									"type": "String"
								},
								"sink": {
									"name": "CurrentTime",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Country1",
									"type": "String"
								},
								"sink": {
									"name": "Country1",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_Employee",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_demoOutput",
						"type": "DatasetReference",
						"parameters": {
							"prTargetFolderName": {
								"value": "@variables('varUTCNOW')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varUTCNOW",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varUTCNOW": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF Practice"
		},
		"annotations": []
	}
}