pipeline/16_FileSchemaMetadataValidation.json
{
	"name": "16_FileSchemaMetadataValidation",
	"properties": {
		"activities": [
			{
				"name": "Get Employee FIle Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Employee",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get EmployeeReference File Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_EmployeeReference",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If SchemMatches",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Employee FIle Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get EmployeeReference File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get EmployeeReference File Metadata').output.structure,activity('Get Employee FIle Metadata').output.structure )",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FailDuetoFIleSchemaMisMatch",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "'Schema MisMatch '+@{activity('Get Employee FIle Metadata').output.structure} + @{activity('Get EmployeeReference File Metadata').output.structure}",
									"type": "Expression"
								},
								"errorCode": "1000"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "WaitFor2Seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "ADF Practice"
		},
		"annotations": []
	}
}