pipeline/31_2_Call_Another_ADF_Pipeline.json
{
	"name": "31_2_Call_Another_ADF_Pipeline",
	"properties": {
		"description": "Execute ADF Pipeline using WebActivity\n\nThe Child Activity takes 2 parameters.\n\n1. Duration\n\n2.Who triggered the execution\n\n\nCheck the ADF Execution Status until it's Succeeded or Failed or Cancelled .\n\nNext run the if else activity.",
		"activities": [
			{
				"name": "Web Call Another ADF Pipeline",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com/subscriptions/1101ab50-b9a6-4719-afe5-7586e598ea9f/resourceGroups/poc-rg/providers/Microsoft.DataFactory/factories/adf-demo-for-all/pipelines/@{activity('Lookup1').output.value[0].PiplelineName}/createRun?api-version=2018-06-01",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "{\"duration\":@{activity('Lookup1').output.value[0].Duration},\"triggeredBy\":\"@{pipeline().DataFactory}\"}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_demo_input_directory_file",
						"type": "DatasetReference",
						"parameters": {
							"parFolderName": "31_ExecutePipelineofAnotherADF",
							"parFileName": "PipelineName.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web Call Another ADF Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineStatus",
					"value": {
						"value": "InProgress",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(or(equals(variables('pipelineStatus'),'Succeeded') , equals(variables('pipelineStatus'),'Cancelled')),equals(variables('pipelineStatus'),'Failed'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web Call GET AP Status",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://management.azure.com/subscriptions/1101ab50-b9a6-4719-afe5-7586e598ea9f/resourceGroups/poc-rg/providers/Microsoft.DataFactory/factories/adf-demo-for-all/pipelineruns/@{activity('Web Call Another ADF Pipeline').output.runId}?api-version=2018-06-01",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"body": {
									"value": "{\"duration\":@{activity('Lookup1').output.value[0].Duration},\"triggeredBy\":\"@{pipeline().DataFactory}\"}",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web Call GET AP Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineStatus",
								"value": {
									"value": "@activity('Web Call GET AP Status').output.status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('pipelineStatus'),'Succeeded')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait For Failure Run",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait For Succeeded Run",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"pipelineRunID": {
				"type": "String"
			},
			"pipelineStatus": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF Practice"
		},
		"annotations": []
	}
}