pipeline/34_1_Dynamic_Pass_Expression_into_MDF.json
{
	"name": "34_1_Dynamic_Pass_Expression_into_MDF",
	"properties": {
		"description": "Process the File with the transformation rule given",
		"activities": [
			{
				"name": "Lookup Transformation rule File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_demo_input_directory_file",
						"type": "DatasetReference",
						"parameters": {
							"parFolderName": "34_Dynamic_Pass_Expression_into_MDF",
							"parFileName": "TransformationRules.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Transformation rule File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Transformation rule File').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Dataflow1",
									"type": "DataFlowReference",
									"parameters": {
										"parFileName": {
											"value": "'@{item().filename}'",
											"type": "Expression"
										},
										"parRule": {
											"value": "'@{item().rule}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "ADF Practice"
		},
		"annotations": []
	}
}