pipeline/3_2_pl_create_silver_tables_usp_array_set.json
{
	"name": "3_pl_create_silver_tables_usp_array_set",
	"properties": {
		"activities": [
			{
				"name": "ForEach Folder Path",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('v_folder_path_usp_name_array')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Delete Silver Folder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_nyc_taxi_data_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_folder_path": {
											"value": "@item()[0]",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Create Silver Table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Delete Silver Folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item()[1]",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_serverless_sql_pool_db_nyc_taxi_ldw",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"v_folder_path_usp_name_array": {
				"type": "Array",
				"defaultValue": [
					[
						"silver/calendar",
						"silver.usp_silver_calendar"
					],
					[
						"silver/taxi_zone",
						"silver.usp_silver_taxi_zone"
					],
					[
						"silver/trip_type",
						"silver.usp_silver_trip_type"
					],
					[
						"silver/vendor",
						"silver.usp_silver_vendor"
					],
					[
						"silver/rate_code",
						"silver.usp_silver_rate_code"
					],
					[
						"silver/payment_type",
						"silver.usp_silver_payment_type"
					]
				]
			}
		},
		"annotations": []
	}
}