pipeline/PL_27_Variables.json
{
	"name": "PL_27_Variables",
	"properties": {
		"description": "Check in Azure Data Factory Service for this implementation\nadf-demo-for-all",
		"activities": [
			{
				"name": "Set File Name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varFileName",
					"value": {
						"value": "@replace(pipeline().parameters.parFileName,'Sales','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If File is Daily for Hourly",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set File Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(indexof(variables('varFileName'),'Daily'),1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy HourlyFile into DB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "PipeLineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "TransactionType",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TransactionType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "City",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "City",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Amount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Amount",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 30
											}
										},
										{
											"source": {
												"name": "PipeLineName",
												"type": "String"
											},
											"sink": {
												"name": "PipeLineName",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_27_DailyorHourly_CSV_File",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ADF_DEMO_SQL_SERVER",
									"type": "DatasetReference",
									"parameters": {
										"parTableName": "HourlyTransactions"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy Daily File into DB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "PipelineName",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "TransactionType",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TransactionType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "City",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "City",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Amount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Amount",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 30
											}
										},
										{
											"source": {
												"name": "PipelineName",
												"type": "String"
											},
											"sink": {
												"name": "PipeLineName",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_27_DailyorHourly_CSV_File",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_ADF_DEMO_SQL_SERVER",
									"type": "DatasetReference",
									"parameters": {
										"parTableName": "DailyTransactions"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"parFileName": {
				"type": "string"
			}
		},
		"variables": {
			"varFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_Practice_2"
		},
		"annotations": []
	}
}