pipeline/PL_37_Until_Activity_3_For_3_Files_Execute_Pipeline_ReturnValue.json
{
	"name": "PL_37_Until_Activity_3_For_3_Files_Execute_Pipeline_ReturnValue",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(min(variables('varAllFilesStatus')),1)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_37_ChildPL_Get_FileList_Status",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"varFiles": {
										"value": "@variables('varFileList')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipeline1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varAllFilesStatus",
								"value": {
									"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.varChildFileStatus",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"varFileList": {
				"type": "Array",
				"defaultValue": [
					"Employee1.csv",
					"Employee2.csv",
					"Employee5.csv"
				]
			},
			"varAllFilesStatus": {
				"type": "Array",
				"defaultValue": []
			},
			"varFileStatus2": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ADF_Practice_2"
		},
		"annotations": []
	}
}