pipeline/PL_37_ChildPL_Get_FileList_Status.json
{
	"name": "PL_37_ChildPL_Get_FileList_Status",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.varFiles",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_practice_folder_file",
									"type": "DatasetReference",
									"parameters": {
										"pContainer": "practice",
										"pFolderName": "input",
										"pFileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "varFileStatus",
								"value": {
									"value": "@int(activity('Get Metadata1').output.exists)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "varChildFileStatus",
							"value": {
								"type": "Expression",
								"content": "@variables('varFileStatus')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"varFiles": {
				"type": "array",
				"defaultValue": [
					"Employee1.csv",
					"Employee2.csv",
					"Employee5.csv"
				]
			}
		},
		"variables": {
			"varFileStatus": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ADF_Practice_2"
		},
		"annotations": []
	}
}