pipeline/PL_38_WebActivity_READ_FROM_API_Writeto_Blob_2.json
{
	"name": "PL_38_WebActivity_READ_FROM_API_Writeto_Blob_2",
	"properties": {
		"activities": [
			{
				"name": "Web dummyDOTrestapiexampleDOTcom",
				"description": "Send Dummy Values to API\n\nhttps://learn.microsoft.com/en-us/rest/api/storageservices/put-blob?tabs=microsoft-entra-id",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://dummy.restapiexample.com/api/v1/employees",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"name": "testingggg",
						"salary": "12333",
						"age": "23"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "webActivityOutput",
								"value": {
									"value": "@variables('varWebActivityOutput')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".json"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "webActivityOutput",
									"type": "String"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_dummy_sample",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_Practice_Folder",
						"type": "DatasetReference",
						"parameters": {
							"parContainer": "practice",
							"parFolder": "output/WebActivityOutput"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web dummyDOTrestapiexampleDOTcom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varWebActitivyArray",
					"value": {
						"value": "@activity('Web dummyDOTrestapiexampleDOTcom').output.data",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varWebActivityOutput",
					"value": {
						"value": "@join(variables('varWebActitivyArray'), '')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varWebActivityOutput": {
				"type": "String"
			},
			"varWebActitivyArray": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ADF_Practice_2"
		},
		"annotations": []
	}
}