pipeline/PL_33_ForEach_Activity_2.json
{
	"name": "PL_33_ForEach_Activity_2",
	"properties": {
		"activities": [
			{
				"name": "Set The Range to 3",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varRange",
					"value": {
						"value": "@range(1,3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachNumber",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set The Range to 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('varRange')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Employee File",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_practice_folder_file",
									"type": "DatasetReference",
									"parameters": {
										"pContainer": "practice",
										"pFolderName": "input",
										"pFileName": "EmployeeNew.txt"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_practice_folder_file",
									"type": "DatasetReference",
									"parameters": {
										"pContainer": "practice",
										"pFolderName": {
											"value": "output/@{formatDateTime(utcnow(),'yyyy-MM-dd')}/output@{item()}",
											"type": "Expression"
										},
										"pFileName": {
											"value": "Employee.txt",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"varRange": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ADF_Practice_2"
		},
		"annotations": []
	}
}