pipeline/PL_38_WebActivity_REST_API_CALL_GET.json
{
	"name": "PL_38_WebActivity_REST_API_CALL",
	"properties": {
		"activities": [
			{
				"name": "Web dummyDOTrestapiexampleDOTcom",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://dummy.restapiexample.com/api/v1/employees",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Web dummyDOTrestapiexampleDOTcom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web dummyDOTrestapiexampleDOTcom').output.data",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item().id,20)",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "ADF_Practice_2"
		},
		"annotations": []
	}
}