pipeline/PL_40_Switch_Activity_2.json
{
	"name": "PL_40_Switch_Activity_2",
	"properties": {
		"description": "Requirement:\n\nPipeline should loop thru a folder and identifies extension of the files.\n\nIf all CSV extension files , copy to csv folder\n\nIf all txt extension files , copy to txt folder\n\nIf all other extension files , copy to other folder\n\nAll the subfolders should get created inside a current data folder",
		"activities": [
			{
				"name": "ForEach Files in a Folder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter All Folder Types",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter All Folder Types').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@toUpper(substring(item().name,sub(length(item().name),3),3))",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "TXT",
										"activities": [
											{
												"name": "TXT Case Copy data to output1 folder",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_practice_folder_file",
														"type": "DatasetReference",
														"parameters": {
															"pContainer": "practice",
															"pFolderName": "input",
															"pFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_Practice_Folder",
														"type": "DatasetReference",
														"parameters": {
															"parContainer": "practice",
															"parFolder": {
																"value": "output/@{formatDateTime(utcnow(),'yyyy-MM-dd')}/txt",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									},
									{
										"value": "CSV",
										"activities": [
											{
												"name": "CSV Case Copy data to output folder",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".csv"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_practice_folder_file",
														"type": "DatasetReference",
														"parameters": {
															"pContainer": "practice",
															"pFolderName": "input",
															"pFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_Practice_Folder",
														"type": "DatasetReference",
														"parameters": {
															"parContainer": "practice",
															"parFolder": {
																"value": "output/@{formatDateTime(utcnow(),'yyyy-MM-dd')}/csv",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Others Case Copy data to output folder_copy",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_Practice_Folder_File_Binary",
												"type": "DatasetReference",
												"parameters": {
													"parDSContainerName": "practice",
													"parDSFolderName": "input",
													"parDSFileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_Practice_Folder_File_Binary",
												"type": "DatasetReference",
												"parameters": {
													"parDSContainerName": "practice",
													"parDSFolderName": {
														"value": "output/@{formatDateTime(utcnow(),'yyyy-MM-dd')}/others",
														"type": "Expression"
													},
													"parDSFileName": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata Details of a Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Practice_Folder",
						"type": "DatasetReference",
						"parameters": {
							"parContainer": "practice",
							"parFolder": "input"
						}
					},
					"fieldList": [
						"childItems",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter All Folder Types",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata Details of a Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Details of a Folder').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().type,'Folder'))",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "ADF_Practice_2"
		},
		"annotations": []
	}
}