pipeline/PL_42_Lookup_Activtiy.json
{
	"name": "PL_42_Lookup_Activtiy",
	"properties": {
		"description": "Requirement:\n\nServer : adf-demo-svr\nDB : adf-demo\n\nTable: tblFilesConfig\n\nID   SourceFile         TargetFolder\n---------------------------------------------\n1   Employee1.csv     20231210/Output1\n2   Employee2.csv     20231210/Output2\n3   Employee3.csv     20231210/Output3\n4   EmployeeFileForSCD2.csv     20231210/Output4\n\nCopy above files from source location to mentioned target locations\n\nand writeback the status of copy activity to the table (update)\n",
		"activities": [
			{
				"name": "Lookup Get All the Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadUncommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ADF_DEMO_SQL_SERVER",
						"type": "DatasetReference",
						"parameters": {
							"parTableName": "tblFilesConfig"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Get All the Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Get All the Data').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_Practice_Folder_File_Binary",
									"type": "DatasetReference",
									"parameters": {
										"parDSContainerName": "practice",
										"parDSFolderName": "input",
										"parDSFileName": {
											"value": "@item().SourceFile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Practice_Folder_File_Binary",
									"type": "DatasetReference",
									"parameters": {
										"parDSContainerName": "practice",
										"parDSFolderName": {
											"value": "output/@{item().TargetFolder}",
											"type": "Expression"
										},
										"parDSFileName": {
											"value": "@item().SourceFile",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup Activity to update the completion details",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "update dbo.tblFilesConfig SET CopyStatus='@{activity('Copy data1').output.executionDetails[0].status}',ModifiedTime='@{formatDateTime(utcnow(),'yyyy-MM-dd hh:MM:ss')}' WHERE ID = @{item().ID}\n\nSELECT 1 AS ID",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_ADF_DEMO_SQL_SERVER",
									"type": "DatasetReference",
									"parameters": {
										"parTableName": "tblFilesConfig"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"varFileNamesandTargetLocation": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_Practice_2"
		},
		"annotations": []
	}
}